:root {
  --bg-darkest: #121212;
  --bg-darker: #181818;
  --bg-base: #202020;
  --bg-lighter: #282828;
  --accent: #007acc;
  --accent-hover: #0098ff;
  --border-color: #2e2e2e;
  --text-main: #cccccc;
  --text-muted: #888888;
}
